<div class="album py-4 bg-light">
  <div class="container">
    <!-- search -->
    <div class="row justify-content-end searchBar">
      <div class="form-group">
        <input type="text" class="form-control" id="searchTerm" placeholder="Search" (keyup)="updateSearch($event.target.value)"/>
      </div>
    </div>
    <!-- article card -->
    <div class="row">
      <div class="col-md-4" *ngFor="let article of articleListFilter">
        <article-card [articleData]="article"></article-card>
      </div>
    </div>
    <!-- paging -->
    <nav aria-label="Page navigation example">
      <ul *ngIf="page.pages" class="pagination justify-content-center">
        <li [ngClass]="{disabled:page.currentPage === 1}" class="page-item">
            <a class="page-link" (click)="setPage(page.currentPage - 1)">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
        </li>
        <li *ngFor="let pageIndex of page.pages" [ngClass]="{active:page.currentPage === pageIndex}" class="page-item">
            <a class="page-link" (click)="setPage(pageIndex)">{{pageIndex}}</a>
        </li>
        <li [ngClass]="{disabled:page.currentPage === page.length}" class="page-item">
            <a class="page-link" (click)="setPage(page.currentPage + 1)">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
